.card-stats .col-icon {
  width: 65px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
}
.icon-big i.fas {
    font-size: .8em;
  }
.icon-big {
    min-height: 65px;
}
.form-check-input {
  background-color: #ffffff;
  border-color: #979797;
}
.form-check-input:checked {
  background-color: #903035;
  border-color: #903035;
}
.nav_active_link{
  color: #903035 !important;
}
.theme_bg_color{
  background-color : #903035 !important;
}
.theme_bg_color:hover{
  background-color : #975155 !important;
  border: 1px solid #975155 !important;
}
.theme_border_color{
  border: 1px solid #903035 !important;
}
.theme_outline_btn_color{
  border: 1px solid #903035 !important;
  color: #903035 !important;
}
.theme_outline_btn_color:hover{
  background-color : #903035 !important;
  border: 1px solid #903035 !important;
  color: #fff !important;
}
a{
  text-decoration: none;
}
body {
  font-family: 'Inter', sans-serif;
}
.reqlink{
  transition: transform 0.2s, box-shadow 0.2s;
}
.reqlink:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
}
/* Style for all non-active pagination buttons */
.page-link {
    color: #8a2e33; 
}
.page-link:hover {
    color: #975155; 
}
/* Disabled pagination buttons */
.disabled>.page-link, .page-link.disabled {
    color: #212529bf;
}
/* Active pagination button */
.paginate_button.page-item.active .page-link {
    background-color: #903035;
    border-color: #903035;
}
@media screen and (max-width:991px){
  .nav-link .fas{
    width: 30px;
  }
  #noti-count{
    transform: translate(-492%,-50%)!important;
  }
}
@media screen and (min-width:992px){
  .nav-link .n-icon{
    font-size: 24px;
    margin-bottom: 0.5rem!important;
  }
  .navbar .nav-link, .nav-link #quoteBell{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #noti-count{
    transform: translate(50%,-50%)!important;
  }
}

/* Base scrollbar styling for WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--bs-body-bg); /* Matches the body background */
}

::-webkit-scrollbar-thumb {
  background-color: var(--bs-border-color-translucent);
  border-radius: 4px;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-secondary-color);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--bs-border-color-translucent) var(--bs-body-bg);
}
/* Light mode */
[data-bs-theme="light"] * {
  scrollbar-color: #9030358a transparent;
}

/* Dark mode */
[data-bs-theme="dark"] * {
  scrollbar-color: #9030358a transparent;
}

[data-bs-theme="light"] ::-webkit-scrollbar-thumb {
  background-color: #9030358a;
}

[data-bs-theme="dark"] ::-webkit-scrollbar-thumb {
  background-color: #9030358a;
}

.modeSwitch {
  opacity: 0;
  position: absolute;
}

.modeSwitch-label {
  background-color: #000000;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modeSwitch:checked + .modeSwitch-label {
  background-color: #000000;
}

.fa-moon {color: #fff;}

.fa-sun {color: #ff9900;}

.modeSwitch-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.modeSwitch:checked + .modeSwitch-label .ball {
  transform: translateX(24px);
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
/* Make the main container responsive and centered */
main.form-signin {
  max-width: 400px;
  width: 90%;
  padding: 2rem;
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
}
.dropdown-item:active {
  background-color: #220000;
}